<div class="container" style="background-color: #DCDCDC">
  <!-- Content here -->
<br>
<h3>Trending movies</h3>
<br>
<div class="row">
  <div *ngFor="let movie of movies" class="col-md-3" style="display: flex;">
    <div class="card">

      <div class="card-block">
        <img class="img-fluid" src="{{'http://image.tmdb.org/t/p/w185'+movie.poster_path}}" alt="Card image cap">
        <h4 class="card-title">{{movie.title}}</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Watch More</a>
      </div>
    </div>
  </div>
</div>

<h3>Trending movies</h3>
<div class="grid grid-pad">
  <a *ngFor="let movie of movies"  [routerLink]="['/detail', movie.id]"  class="col-1-4">
    <div class="module movie">
      <h4>{{movie.title}}</h4>
    </div>
  </a>
</div>
<h3>Trending people</h3>
<div class="grid grid-pad">
  <a *ngFor="let person of people"  [routerLink]="['/detail-people', person.id]"  class="col-1-4">
    <div class="module movie">
      <h4>{{person.name}}</h4>
    </div>
  </a>
</div>
<h3>In Theaters</h3>
<div class="grid grid-pad">
  <a *ngFor="let movie of movieTheaters"  [routerLink]="['/detail', movie.id]"  class="col-1-4">
    <div class="module movie">
      <h4>{{movie.title}}</h4>
    </div>
  </a>
</div>
<h3>Top-rated movies</h3>
<div class="grid grid-pad">
  <a *ngFor="let movie of movieTop"  [routerLink]="['/detail', movie.id]"  class="col-1-4">
    <div class="module movie">
      <h4>{{movie.title}}</h4>
    </div>
  </a>
</div>
<movie-search></movie-search>
</div>
