<div class="container">
<br>

<div class="row">
  <div class="col-sm-4">
    <img class="img-fluid" src="{{'http://image.tmdb.org/t/p/w500'+movie.poster_path}}"/>
    <div><label>Release Date: </label>{{movie.release_date}}</div>
    <div><label>Genres: </label><span *ngFor="let genre of movie.genres; let isLast=last">{{genre.name}}{{isLast ? '' : ', '}}</span></div>
    <div><label>Budget: </label>{{movie.budget | currency:'USD':true:'4.0-2'}}</div>
    <div><label>Box office: </label>{{movie.revenue | currency:'USD':true:'4.0-2'}}</div>
  </div>

  <div class="col-sm-8">
    <h2>{{movie.title}} ({{movie.release_date | date: 'yyyy'}})</h2>
    <div><label>Vote average: </label>{{movie.vote_average}}</div>
    <br>
    <p>{{movie.overview}}</p>

    <div *ngIf="movie.videos.results[0]">
      <div><label><h4>Trailer</h4></label></div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" [src]="'http://www.youtube.com/embed/'+movie.videos.results[0].key | safe" allowfullscreen></iframe>
      </div>
    </div>

    <div><label><h4>Main Crew</h4></label>
      <br>
      <md-grid-list cols="4" rowHeight="1:1">
        <md-grid-tile *ngFor="let person of crew" (click)="gotoDetail(person)">
          <img *ngIf="person.profile_path" src="{{'http://image.tmdb.org/t/p/w185'+person.profile_path}}" alt="No image found">
          <img *ngIf="!person.profile_path" src="https://www.themoviedb.org/assets/static_cache/c9dbe2292fb5eea61788571fbd96fa67/images/v4/logos/208x226-stacked-blue.png" alt="No image found">
          <md-grid-tile-footer>
            <h3><b>{{person.name}} ({{person.job}})</b></h3>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
      <br>
    </div>

    <div><label><h4>Main Cast</h4></label>
      <br>
      <md-grid-list cols="4" rowHeight="1:1">
        <md-grid-tile *ngFor="let person of cast" (click)="gotoDetail(person)">
          <img *ngIf="person.profile_path" src="{{'http://image.tmdb.org/t/p/w185'+person.profile_path}}" alt="No image found">
          <img *ngIf="!person.profile_path" src="https://www.themoviedb.org/assets/static_cache/c9dbe2292fb5eea61788571fbd96fa67/images/v4/logos/208x226-stacked-blue.png" alt="No image found">
          <md-grid-tile-footer>
            <h3><b>{{person.name}}</b></h3>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
      <br>
    </div>

  </div>
</div>

</div>

<div *ngIf="movie">
  <div><label>Similar Movies: </label><span *ngFor="let mov of similar; let isLast=last">
    <a [routerLink]="['/detail', mov.id]">{{mov.title}}</a>{{isLast ? '' : ', '}}</span></div>

  <button (click)="goBack()">Back</button>
</div>
